<nav class="l-nav">
<!-- 	<a href="index.html" class='navlink navlink-home' id="home">Home</a>
	<a href="about.html" class='navlink navlink-about' id="contact">About Us</a> -->
	<a href="" class='navlink navlink-previous' id="previous">Previous</a>
	<a href="" class='navlink navlink-next' id="next">Next</a>
</nav>


<div class="main page-scroller">
	<div class="page page--l01">
		<%= image_tag "product_pages/features/l01-small.png", class:"page__image page__image--l01"%>

		<div class="page-width">
			<section class="page__content">
				<header>
					<h1 class="pagetitle">Reperen</h1>
				</header>
				<p>Anti-adhesive solution for soft-tissue repair.</p>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</section>
		</div>
	</div>

	<div class="page page--l02">
		<div class="page-width">
			<section class="pagecolumn pagecolumn--right">

				<header>
					<h1 class='pagetitle'>One step in medicine requires numerous <span class='colored'>revolutions</span> in science.</h1>
				</header>
				<p>
					That's why to get the most biocompatible material we combine the knowledge from various areas of chemistry, biophysics and biology. The technology we use was started to develop in the 1980s and was commercialized in1996 when the first Reperen-based implant ( intraocular lens for cataract surgery ) was produced and marketed.
				</p>
				<p>
					The use of Reperen as the membranes and meshes for abdominal surgery, neurosurgery and reconstructive surgery started in 2005. More then 20000 units were successfully implanted.
				</p>
			</section>

			<div class="pagecolumn pagecolumn--left">
				<span class="line line-1a">8</span> <span class="line line-1b">years of <span class='colored'>clinical testing</span></span>
				<hr />
				<span class="line line2">20000</span>
				<span class="line line3">meshes &amp; membranes</span>
				<span class="line line4"><span class='colored'>implanted</span></span>
			</div>
		</div>
	</div>

	<div class="page page--l03">
		<div class="page-width">

			<section class="pagecolumn pagecolumn--right">
				<header>
					<h1 class='pagetitle pagetitle--primary'>
						<span class="line line1">Cross-linked</span>
						<span class="line line2">structure</span>
						<span class="line line3 colored">Excellent barrier function</span>
					</h1>
				</header>

				<p>The key to biological safety is the reducing of micro-pores. The existing productions follow 2-step procedure: synthesis the material and then creating the device.</p>

				<p>The most innovative technologies may reduce pores to 500 1000 nm. Integrating the polymerization process with the shape formation we got absolutely monolith pores-free material that avoid adhesions and wound infections.</p>
			</section>

			<div class="pagecolumn pagecolumn--left">
				<ul class="materials">
					<li>
						<%= image_tag "product_pages/features/reperen.jpg"%>
						<span class="microns"> 40nm </span>
						Reperen
					</li>
					<li>
						<%= image_tag "product_pages/features/eptfe.jpg"%>
						<span class="microns"> 3 Microns </span>
						ePTFE
					</li>
					<li>
						<%= image_tag "product_pages/features/pclyurethene.jpg"%>
						<span class="microns"> 25 Microns </span>
						Polyurethane
					</li>
				</ul>
				<h2 class='pagetitle pagetitle--secondary'>
					<span class="line line1">the perfect</span>
					<span class="line line2"><span class='colored'>anti-adhesive</span></span>
					<span class="line line3">solution</span>
				</h2>
			</div>

		</div>
	</div>

<!-- 	<div class="page page--l04">
		<div class="page-width">
			<div class="pagecolumn pagecolumn--full">
				<span class="zero">0<sup>%</sup></span>
				<span class="line line1">from</span>
				<span class="line line2">reducing</span>
				<span class="line line3">adhesions</span>
				<span class="line line4">to</span>
				<span class="line line5">avoiding</span>
				<span class="line line6">adhesions</span>
			</div>
		</div>
	</div> -->

<!-- 	<div class="page page--l05">
		<img src="img/product_pages/features/l05.png" alt="" class="page__image page__image--l05" />
		<img src="img/product_pages/features/l05-01.png" alt="" class="page__image page__image--l05-01" />
		<div class="page-width">
			<section class="pagecolumn pagecolumn--right">

				<header>
					<h1 class='pagetitle pagetitle--primary'>
						<span class="line line1">Purified from</span>
						<span class="line line2">free radicals</span>
					</h1>
				</header>

				<h2 class="pagetitle pagetitle--secondary">Improved <span class="colored">biostability</span></h2>

				<p>Free radicals in the molecular structure of the polymer are the main factors for biodegradation. To make Reperen more stable in a long postoperative period we found a special chemical solution blocking free radicals.</p>

			</section>
		</div>
	</div> -->

	<div class="page page--lightbg page--l06">
	<%= image_tag "product_pages/features/l06.png", class:"page__image page__image--l06"%>
		<div class="page-width">
			<section class="pagecolumn pagecolumn--right">
				<header>
					<h1 class='pagetitle'>
						<span class="line line1" style="color:black">Ultra-smooth</span>
						<span class="line line2">surface</span>
						<span class="line line3 colored">Adequate cell proliferation</span>
					</h1>
				</header>

				<p style="color:black">The technology allows to create Reperen membranes with the roughness of 50 nm. Such smooth surfaces are used where the risk of adhesion is especially dangerous, for example in Dural repair.</p>

				<p style="color:black">The Reperen membrane is contacting human issues tightly but may be easily separated at any time. Smooth surface in combination with the material purity act as scaffold (biomatrix) for adequate tissue growth.</p>

			</section>
		</div>
	</div>

	<div class="page page--l07">
		<div class="page-width">
			<%= image_tag "product_pages/features/l07.png", class:"page__image page__image--l07"%>
			<section class="pagecolumn pagecolumn--right">
				<header>
					<h1 class='pagetitle pagetitle--primary'>
						<span class="line line1">Steady</span>
						<span class="line line2">Construction</span>
					</h1>
				</header>

				<h2 class="pagetitle pagetitle--secondary"><span class="colored">Safe behavior inside the human body</span></h2>

				<p>One more significant advantage of Reperen over the fiber polymers is reliable construction that would not shrink inside the human body.</p>

				<p>This is especially important when the mesh is used for supporting of human organs and tissues, for example after hernia repair or pelvic organ prolapse repair.</p>
			</section>
		</div>
	</div>

	<div class="page page--l08">
		<div class="page-width">

			<section class="pagecolumn pagecolumn--right">
				<header>
					<h1 class='pagetitle pagetitle--primary'>
						<span class="line line1">Precise</span>
						<span class="line line2">shape</span>
					</h1>
				</header>

				<h2 class="pagetitle pagetitle--secondary">
					<span class="line line1">using photo pattern for the</span>
				 	<span class="line line2 colored">ultimately accurate shape</span>
				 </h2>

				<p>Precise periodicity of structural components ensures uniform regeneration process and prevent seroma.</p>

				<p>Also we may combine the various surfaces to achieve proper biological result. For example, IPOM membrane has anti-adhesive side and a micro-grid side for correct presence of the mesh.</p>

			</section>
			<div class="pagecolumn pagecolumn--left">
				<ul class="materials">
					<li class="material material--left">
						<%= image_tag "product_pages/features/material1.png"%>
						<p><span>Ultra Smooth</span> Anti-adhesive</p>
					</li>
					<li class="material material--right">
						<%= image_tag "product_pages/features/material2.png"%>
						<p><span>Micro Grid</span> Adhesive 100 micrometers</p>
					</li>
					<li class="material material--left">
						<%= image_tag "product_pages/features/material3.png"%>
						<p><span>Porous</span> For tissue growth</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
